@import './fonts.css';
html {
    font-size: 10px;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
  }
body {
margin: 0;
font-size: 16px;
width: 1020px;
height: 100%;
margin: auto;
}
span{
    color:red;
}
.container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
.header{
    position:abcolute;
    width: 1020px;
    height: 95px;
    background-color: #2d303a;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__logo{
    width: 115px;
    height: 20px;
    font-family: "Lato-Bold";
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -.55px;
    line-height: 1;
    text-transform: uppercase;
    padding: 34px 36px 40px ;
    }
.nav{
    display: flex;
    width: 370px;
    height: 12px;
    justify-content: space-between;
    margin-top:46px;
    margin-right: 40px;
}
.new__link
{
    color:#fff;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
}
.new__link:hover
{
    color:red;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
}
.bg
{
    width: 100%;
    max-width: 1020px;
    height: 600px;
    background-color: #f06c64;
 
}

.bg{
    display: flex;
    /*justify-content: space-between;*/
}

.image_phone{
  margin-left:110px;
  margin-top:52px;
}

.image_gor_phone
{
    margin-top:172px;
    margin-left:68px;
 
}
.left__arr
{
    position: absolute;
    cursor: pointer;
    transform: translate(-867px,280px);
}
.rigth__arr{
    transform: rotate(180deg);
    margin-top:280px;
    margin-left:55px;
}
.infobox{
    width: 100%;
    height: 496px;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
}
.infobox__info{
   
    display: flex;
    flex-direction: column;
}
.infobox__info--title{
    font-family: "Lato Black";
    font-size: 30px;
    font-weight: 400;
    color: #666d89;
    margin-top:65px;
    margin-left: 40px;
}
.infobox__info--description{
    color: #767e9e;
font-family: 'Lato';
font-size: 18px;
font-weight: 300;
line-height: 30px;
margin-top:17px;
margin-left:40px;
}
.infobox__row{
display: flex;
width: 90%;
justify-content: space-between;
}
.infobox__row-item{

    display: flex;
}
.item__text--title{
    color: #666d89;
font-family: "Lato Black";
font-size: 18px;
font-weight: 400;
}
.item__text--description{
    color: #767e9e;
font-family: Lato;
font-size: 12px;
font-weight: 400;
}