* {
    margin: 0;
    padding: 0;
  }
body {
margin: 0;
font-size: 16px;
width: 1020px;
margin: auto;
}
span{
    color:red;
}
.container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
.header{
    position:abcolute;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__logo{
    width: 115px;
    height: 20px;
    font-family: "Lato-Bold";
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 6.32px;
    text-transform: uppercase;
    padding: 34px 36px 40px ;
    }

.new__link
{
    display: inline-block;
    vertical-align: top;
    margin: 40px 18px auto;
    color:#fff;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
}
.new__link__current
{
    color:red;
    display: inline-block;
    vertical-align: top;
    margin: 40px 18px auto;
    text-decoration: none;
    transition: color .2s linear;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
}
.bg
{
    width: 100%;
    max-width: 1020px;
    height: 600px;
    background-color: #f06c64;
    position: absolute;
}

.bg{
    display: flex;
    /*justify-content: space-between;*/
}

.image_phone{
    
    margin: 52px 110px auto;
    width: 215px;
height: 458px;
}

.image_gor_phone
{
    
    padding: 174px 0 0 73px;
   /* margin: 172px 150px 150px auto;*/
 
}